.attribution {
  font-size: 11px;
  text-align: center;
  margin: auto;
  margin-bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(180deg, #040918 0%, #091540 100%);
  font-size: 1.6rem;
  font-family: "Noto Sans", sans-serif;
  color: hsl(200, 60%, 99%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}

main {
  margin: 0 auto;
  max-width: 125rem;
  width: 100%;
  padding: 3.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(226, 25%, 17%);
  padding: 1.6rem;
  border-radius: 24px;
  position: relative;
  margin-bottom: 6.4rem;
}

.btn-theme {
  border: none;
  padding: 1.2rem;
  display: flex;
  background-color: hsl(225, 23%, 24%);
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-theme:hover {
  background-color: hsl(226, 11%, 37%);
}

.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
  margin-bottom: 3.2rem;
}

.sub-header p {
  font-size: 3.2rem;
  font-weight: 500;
}

.sub-header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.sub-header ul li {
  list-style: none;
}

.sub-header ul li button {
  padding: 0.8rem 1.6rem;
  border-radius: 50rem;
  font-size: 2rem;
  background-color: hsl(225, 23%, 24%);
  border: 1px solid hsl(226, 11%, 37%);
  color: hsl(0, 0%, 93%);
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
}

.sub-header ul li button:hover {
  background-color: hsl(226, 11%, 37%);
}

.sub-header ul li button.active {
  background-color: hsl(3, 86%, 64%);
  border: 1px solid hsl(3, 86%, 64%);
  color: hsl(227, 75%, 14%);
}

.sub-header ul li button.active:hover {
  background-color: hsl(3, 71%, 56%);
  border: 1px solid hsl(3, 71%, 56%);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.extension {
  background-color: hsl(226, 25%, 17%);
  border: 1px solid hsl(226, 11%, 37%);
  padding: 1.6rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 3.6rem;
  align-items: flex-start;
}

.description div h3 {
  margin-bottom: 0.4rem;
}

.description div p {
  color: hsl(0, 0%, 78%);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.actions button {
  padding: 0.6rem 1.2rem;
  border-radius: 50rem;
  background-color: hsl(226, 25%, 17%);
  border: 1px solid hsl(226, 11%, 37%);
  color: hsl(0, 0%, 93%);
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
}

.actions button:hover {
  background-color: hsl(3, 86%, 64%);
  border: 1px solid hsl(3, 86%, 64%);
  color: hsl(227, 75%, 14%);
}

.switch {
  position: relative;
  display: inline-block;
  height: 2rem;
  width: 3.6rem;
}

.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(226, 11%, 37%);
  transition: 0.3s;
  border-radius: 10rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  top: 0.2rem;
  left: 0.2rem;
  border-radius: 50%;
  background-color: hsl(200, 60%, 99%);
  transition: 0.3s;
}

input:checked + .slider {
  background-color: hsl(3, 86%, 64%);
}

input:checked + .slider:before {
  left: 1.8rem;
}

.switch input:checked:hover + .slider {
  background-color: hsl(3, 71%, 56%);
}

*:focus,
.switch input:focus + .slider {
  outline: 2px solid hsl(3, 86%, 64%);
  outline-offset: 2px;
}

.rotate {
  transform: rotate(360deg);
}

.confirm-removal {
  position: absolute;
  color: hsl(227, 75%, 14%);
  padding: 0.6rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  left: 8rem;
  bottom: 2rem;
  border-radius: 16px;
  background-color: hsl(200, 60%, 99%);
  border-bottom-left-radius: 0;
  z-index: 2;
}

.confirm-removal::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  left: -1.2rem;
  bottom: 0;
  border-style: solid;
  border-width: 0 0 2.4rem 2.4rem;
  border-color: transparent transparent hsl(200, 60%, 99%) transparent;
  transform: rotate(0deg);
  z-index: -1;
}

.confirm-removal div {
  display: flex;
  justify-content: space-between;
}

.confirm-removal div button:first-child {
  background-color: transparent;
  color: hsl(227, 75%, 14%);
}

.confirm-removal div button:last-child {
  background-color: hsl(227, 75%, 14%);
  border: 1px solid hsl(227, 75%, 14%);
  color: hsl(200, 60%, 99%);
}

.confirm-removal div button:first-child:hover {
  background-color: hsl(3, 86%, 64%);
}

.confirm-removal div button:last-child:hover {
  opacity: 0.7;
}

.modal-notif {
  position: fixed;
  background-color: hsl(200, 60%, 99%);
  right: -200%;
  bottom: 0;
  color: hsl(227, 75%, 14%);
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  margin: 1.2rem;
  padding-left: 1.6rem;
  border-radius: 16px;
  font-weight: 300;
  transition: 0.3s;
}

.modal-notif-btn {
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
  width: 2rem;
  background-color: transparent;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.ext-name {
  font-weight: 500;
}

body.light {
  background-image: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  color: hsl(227, 75%, 14%);
}

.light .header {
  background-color: hsl(200, 60%, 99%);
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.05);
}

.light .btn-theme {
  background-color: hsl(0, 0%, 93%);
}

.light .btn-theme:hover {
  background-color: hsl(0, 0%, 78%);
}

.light .sub-header ul li button {
  background-color: hsl(200, 60%, 99%);
  border-color: hsl(217, 61%, 90%);
  color: inherit;
}

.light .sub-header ul li button:hover {
  opacity: 0.75;
}

.light .sub-header ul li button.active {
  background-color: hsl(3, 77%, 44%);
  border: 1px solid hsl(3, 77%, 44%);
  color: hsl(200, 60%, 99%);
}

.light .extension {
  background-color: hsl(200, 60%, 99%);
  border-color: hsl(217, 61%, 90%);
}

.light .description div p {
  color: hsl(226, 11%, 37%);
}

.light .actions button {
  background-color: transparent;
  color: inherit;
  border-color: hsl(0, 0%, 78%);
}

.light .actions button:hover {
  background-color: hsl(3, 77%, 44%);
  border: 1px solid hsl(3, 77%, 44%);
  color: hsl(200, 60%, 99%);
}

.light .slider {
  background-color: hsl(0, 0%, 78%);
}

.light input:checked + .slider {
  background-color: hsl(3, 77%, 44%);
}

.light .switch input:checked:hover + .slider {
  background-color: hsl(3, 86%, 64%);
}

.light .confirm-removal {
  background-color: hsl(227, 75%, 14%);
  color: hsl(200, 60%, 99%);
}

.light .confirm-removal::after {
  border-color: transparent transparent hsl(227, 75%, 14%) transparent;
}

.light .confirm-removal div button:first-child {
  background-color: transparent;
  color: hsl(200, 60%, 99%);
}

.light .confirm-removal div button:last-child {
  background-color: hsl(200, 60%, 99%);
  border: 1px solid hsl(200, 60%, 99%);
  color: hsl(227, 75%, 14%);
}

.light .confirm-removal div button:first-child:hover {
  background-color: hsl(3, 77%, 44%);
}

.light .modal-notif {
  color: hsl(200, 60%, 99%);
  background-color: hsl(227, 75%, 14%);
}

@media (max-width: 74em) {
  .description {
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 64em) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .description {
    margin-bottom: 3.6rem;
  }
}

@media (max-width: 53em) {
  html {
    font-size: 56.25%;
  }
  main {
    padding: 2.4rem;
  }
  .description {
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 40em) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 34rem) {
  .header {
    margin-bottom: 4.8rem;
    border-radius: 12px;
    padding: 1.2rem;
  }

  .sub-header {
    flex-direction: column;
    gap: 2.4rem;
  }
}

@media (max-width: 28rem) {
  .modal-notif span {
    display: block;
  }

  .modal-notif {
    text-align: center;
    padding: 1.6rem;
  }
}
