.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 192rem;
  margin: auto;
  width: 100%;
  gap: 6.4rem;
}

@media (max-width: 100em) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 75em) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 4.8rem;
  }
}

@media (max-width: 50em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 36em) {
  .container {
    grid-template-columns: 1fr;
    gap: 4.8rem;
  }
}
