* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: radial-gradient(circle at top, #4dabf7, transparent),
    radial-gradient(circle at right, #3bc9db, transparent),
    radial-gradient(circle at bottom, #9775fa, transparent),
    radial-gradient(circle at left, #748ffc, transparent);
  background-size: cover;
  font-size: 1.6rem;
  font-family: "Roboto";
  min-height: 100vh;
}

.input-blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  z-index: 999;
  pointer-events: all;
  cursor: wait;
  display: none;
}

.reset-btn,
.filter-menu-btn {
  position: fixed;
  border: none;
  background-color: #f8f9fa;
  border: 1px solid f8f9fa;
  margin: 1.2rem;
  top: 0;
  padding: 0.6rem;
  font-size: 2.4rem;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  border-radius: 6px;
  z-index: 101;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.05);
}

.reset-btn {
  left: 0;
  border-radius: 50%;
}

.filter-menu-btn {
  right: 0;
}

.filter-menu-btn:hover,
.reset-btn:hover {
  opacity: 0.9;
}

.reset-btn:hover {
  transform: rotate(360deg) scale(1.12);
}

.active {
  transform: rotate(180deg);
  background-color: #e9ecef;
  margin: 0.6rem;
}

.chosen-name,
.chosen-info {
  display: none;
  position: absolute;
  width: 100vw;
  text-align: center;
  font-size: 4.8rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -4px;
  padding: 2.4rem 4.8rem;
  word-spacing: 1rem;
  color: transparent;
}

.chosen-name {
  top: 0;
  background-color: #212529;
  color: #f8f9fa;
  z-index: 4;
}

.chosen-info {
  color: #212529;
  background-color: #f8f9fa;
  justify-content: space-between;
  bottom: 0;
  z-index: 3;
}

.chosen-info .tags {
  border: none;
  font-size: 4.8rem;
  letter-spacing: -4px;
}

.icon {
  color: #212529;
}

.filter-menu {
  position: fixed;
  background-color: #f8f9fa;
  z-index: 100;
  margin: 1.2rem;
  margin-top: -2.4rem;
  margin-right: 2.4rem;
  border-radius: 6px;
  color: #212529;
  right: -100%;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  gap: 1.6rem;
  box-shadow: -1.2rem 1.2rem 1.6rem rgba(0, 0, 0, 0.075);
}

.filter-menu div {
  gap: 0.6rem;
  line-height: 1.6;
}

.filter-menu div p {
  font-weight: 600;
}

div div input,
div div label {
  cursor: pointer;
}

.grid-container {
  max-width: fit-content;
  gap: 4.8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin: 4.8rem auto;
}

.grid-item {
  background-color: white;
  border-radius: 12px;
  padding: 1.6rem;
  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.075);
  cursor: pointer;
  transition: 0.3s;
  left: auto;
  top: auto;
  width: 30rem;
  position: relative;
}

.grid-item.selected .description {
  display: none;
}

.grid-item.selected .img-cont {
  background-color: rgba(255, 255, 255, 1);
  border: none;
}

.top-row,
.bottom-row {
  position: relative;
  height: 100%;
}

.top-row::before,
.top-row::after,
.bottom-row::before,
.bottom-row::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  transition: 0.2s;
  /* height: 30rem; */
  /* display: none; */
}

.top-row::before {
  top: -2rem;
  left: -2rem;
  background-color: #99e9f2;
  border-bottom-right-radius: 50rem;
  z-index: 0;
}

.top-row::after {
  background-color: #96f2d7;
  top: -2rem;
  right: -2rem;
  border-bottom-left-radius: 50rem;
  z-index: 1;
}

.bottom-row::after {
  bottom: -2rem;
  right: -2rem;
  background-color: #d8f5a2;
  border-top-left-radius: 50rem;
  z-index: 0;
}

.bottom-row::before {
  background-color: #b2f2bb;
  bottom: -2rem;
  left: -2rem;
  border-top-right-radius: 50rem;
  z-index: 1;
}

.grid-item:nth-child(even) .top-row::before,
.grid-item:nth-child(even) .bottom-row::after {
  z-index: 1;
}

.grid-item:nth-child(even) .top-row::after,
.grid-item:nth-child(even) .bottom-row::before {
  z-index: 0;
}

.grid-item:nth-child(4n + 1) .top-row::before,
.grid-item:nth-child(4n + 4) .top-row::after,
.grid-item:nth-child(4n + 3) .bottom-row::before,
.grid-item:nth-child(4n + 2) .bottom-row::after {
  background-color: #96f2d7;
}

.grid-item:nth-child(4n + 2) .top-row::before,
.grid-item:nth-child(4n + 1) .top-row::after,
.grid-item:nth-child(4n + 4) .bottom-row::before,
.grid-item:nth-child(4n + 3) .bottom-row::after {
  background-color: #63e6be;
}

.grid-item:nth-child(4n + 3) .top-row::before,
.grid-item:nth-child(4n + 2) .top-row::after,
.grid-item:nth-child(4n + 1) .bottom-row::before,
.grid-item:nth-child(4n + 4) .bottom-row::after {
  background-color: #99e9f2;
}

.grid-item:nth-child(4n + 4) .top-row::before,
.grid-item:nth-child(4n + 3) .top-row::after,
.grid-item:nth-child(4n + 2) .bottom-row::before,
.grid-item:nth-child(4n + 1) .bottom-row::after {
  background-color: #66d9e8;
}

.grid-item a {
  display: flex;
  flex-direction: column;
}

.grid-item:hover .top-row::before,
.grid-item.selected .top-row::before,
.grid-item:hover .top-row::after,
.grid-item.selected .top-row::after,
.grid-item:hover .bottom-row::before,
.grid-item.selected .bottom-row::before,
.grid-item:hover .bottom-row::after,
.grid-item.selected .bottom-row::after {
  width: 75%;
  height: 22rem;
}

.grid-item:hover .tags,
.grid-item:hover .name,
.grid-item:hover .img-cont {
  background-color: rgba(255, 255, 255, 1);
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.img-cont {
  overflow: hidden;
  border: 1px solid black;
  padding: 0.6rem;
  transition: 0.3s;
  z-index: 10;
}

.img-cont img {
  width: 25.4rem;
  height: 18.6rem;
  transition: 0.3s;
}

.description {
  display: flex;
  flex-direction: column;
}

.name {
  text-align: center;
  cursor: pointer;
  font-size: 1.8rem;
  border: 1px solid black;
  border-top: none;
  padding: 1.2rem;
  width: 100%;
  z-index: 10;
  transition: 0.3s;
}

.tags {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-top: none;
  padding: 1.2rem;
  transition: 0.3s;
  z-index: 10;
}

.tag {
  display: inline-block;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
}

.html {
  color: #4dabf7;
}

.css {
  color: #1971c2;
}

.js {
  color: #ff8787;
}

.junior {
  color: #12b886;
}

.newbie {
  color: #91a7ff;
}

.intermediate {
  color: #fab005;
}

@media (max-width: 89em) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 69em) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 48em) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .chosen-name,
  .chosen-info {
    font-size: 2.4rem;
    padding: 1.2rem;
    letter-spacing: -2px;
  }
}
