.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(13, 31%, 94%);
  font-family: "Red Hat Text", sans-serif;
  color: hsl(14, 65%, 9%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin: 4.8rem;
  display: grid;
  grid-template-columns: 72.5fr 27.5fr;
  align-items: start;
  max-width: 144rem;
  gap: 2.4rem;
}

.menu-cont h2 {
  font-size: 3.6rem;
  margin-bottom: 1.6rem;
}

.grid-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.btn-cont {
  position: relative;
}

.img-cont {
  display: flex;
  margin-bottom: 3.2rem;
  border-radius: 9px;
  transition: 0.3s;
  border: 2px solid transparent;
  overflow: hidden;
}

.img-cont.selected {
  border: 2px solid hsl(14, 86%, 42%);
}

.main-img {
  width: 100%;
}

.btn-add,
.btns-cont {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 16rem;
  height: 4.2rem;
  border-radius: 50rem;
  transition: 0.3s;
}

.btn-add {
  background-color: hsl(20, 50%, 98%);
  border: 1px solid hsl(14, 25%, 72%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-add:hover {
  color: hsl(14, 86%, 42%);
  border-color: hsl(14, 86%, 42%);
}

.btns-cont.hidden {
  display: none;
}

.btns-cont {
  display: flex;
  background-color: hsl(14, 86%, 42%);
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  color: hsl(20, 50%, 98%);
  font-size: 1.6rem;
}

.btns-cont button {
  background-color: transparent;
  display: flex;
  border: 1px solid hsl(20, 50%, 98%);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  padding: 0.4rem;
  cursor: pointer;
  transition: 0.3s;
}

.btns-cont button:hover {
  background-color: hsl(20, 50%, 98%);
}

.btns-cont button:hover > img {
  filter: brightness(0) saturate(100%) invert(12%) sepia(73%) saturate(7018%)
    hue-rotate(24deg) brightness(95%) contrast(92%);
}

.btns-cont button img {
  width: 100%;
}

.desc-cont {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 1.2rem;
}

.dessert-category {
  color: hsl(7, 20%, 60%);
  font-size: 1.4rem;
}

.dessert-name {
  font-size: 1.6rem;
  font-weight: 600;
}

.dessert-price {
  color: hsl(14, 86%, 42%);
  font-size: 1.8rem;
}

.cart-cont {
  background-color: hsl(20, 50%, 98%);
  padding: 2.4rem;
  border-radius: 11px;
}

.cart-ammount {
  color: hsl(14, 86%, 42%);
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.empty-cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}

.empty-cart.hidden {
  display: none;
}

.cart-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.cart-content.hidden {
  display: none;
}

.order {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.4rem;
}

.order:not(:first-child) {
  padding-top: 0.8rem;
}

.order-name {
  color: hsla(14, 65%, 9%, 0.75);
}

.order-details {
  display: flex;
  gap: 1.6rem;
}

.ammount {
  color: hsl(14, 86%, 42%);
  font-weight: 600;
}

.price {
  color: hsl(12, 20%, 44%);
}

.total {
  color: hsl(12, 20%, 44%);
  font-weight: 600;
}

.order hr {
  border: none;
  border-top: 1px solid hsl(13, 31%, 94%);
}

.btn-remove {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid hsl(14, 25%, 72%);
  background: transparent;
  display: flex;
  padding: 0.2rem;
  border-radius: 50rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-remove:hover {
  filter: brightness(0.3);
}

.order-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.order-total span {
  font-size: 2rem;
  font-weight: 600;
}

.delivery-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(13, 31%, 94%);
  padding: 1rem;
  gap: 1rem;
  border-radius: 9px;
  font-size: 1.2rem;
}

.btn-confirm {
  background-color: hsla(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
  border: none;
  font-size: 1.6rem;
  padding: 1.2rem;
  border-radius: 50rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-confirm:hover {
  background-color: #a62309;
}

.modal-wrapper.hidden {
  display: none;
}

.modal-fix .final-order-modal {
  border-radius: 0;
}

.modal-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-fix {
  display: block;
  overflow-y: auto;
}

.final-order-modal {
  background-color: hsl(20, 50%, 98%);
  padding: 3.2rem;
  border-radius: 11px;
  max-width: 50rem;
  width: 100%;
  font-size: 1.6rem;
  margin: 0 auto;
}

.final-order-modal img {
  width: 4.8rem;
  height: 4.8rem;
}

.final-order-modal h2 {
  font-size: 3.2rem;
  margin-bottom: 0.6rem;
}

.final-order-modal .sub-header {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

.final-orders {
  background-color: hsl(13, 31%, 94%);
  border-radius: 9px;
  padding: 1.6rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
  max-height: 60vh;
  max-height: 50rem;
  overflow-y: auto;
}

.order-final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  padding-top: 1.6rem;
  font-size: 1.4rem;
}

.order-final hr {
  border: none;
  border-top: 1px solid hsl(14, 25%, 72%);
}

.order-final .order-name {
  color: hsl(14, 65%, 9%);
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.text-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-text {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.img-text img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 5px;
}

.ammount-price {
  display: flex;
  gap: 1.6rem;
}

.order-final .total {
  color: hsl(14, 65%, 9%);
}

.final-order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(14, 65%, 9%);
  font-size: 1.6rem;
}

.final-order-total span {
  font-size: 2rem;
  font-weight: 600;
}

.btn-modal {
  width: 100%;
  padding: 1.6rem;
}

@media (max-width: 75em) {
  main {
    grid-template-columns: 70fr 30fr;
  }

  .grid-cont {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 68em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 60em) {
  main {
    grid-template-columns: 65fr 35fr;
  }
  .grid-cont {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 54em) {
  main {
    grid-template-columns: 1fr;
    margin: 3.2rem;
  }
  .grid-cont {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
  }

  .orders {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .order:not(:first-child) {
    padding-top: 0;
  }

  .order-details {
    margin-bottom: 0.8rem;
  }
}

@media (max-width: 44em) {
  .grid-cont {
    grid-template-columns: repeat(2, 1fr);
  }

  .dessert-category {
    font-size: 1.6rem;
  }
  .dessert-name {
    font-size: 1.8rem;
  }
  .dessert-price {
    font-size: 2rem;
  }

  .order {
    font-size: 1.6rem;
  }

  .order-total {
    font-size: 1.6rem;
  }

  .delivery-info {
    font-size: 1.4rem;
  }

  .btn-confirm {
    padding: 1.6rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 31em) {
  main {
    margin: 2.4rem;
  }

  .grid-cont {
    grid-template-columns: repeat(1, 1fr);
  }

  .img-cont {
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 31em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 25em) {
  .modal-wrapper {
    align-items: flex-end;
  }

  .final-order-modal {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
  }
}
